
@keyframes fadeInAnimation {
  0% {
      opacity: 0;

  }
  100% {
      opacity: 1;
   }
  } 

@keyframes h1 {
  0% {
            top: 50%;
  left: 50%;

  }
  100% {
            top: 10%;
  left: 50%;
   }
  }
body{
  background-color: rgb(40, 40, 40);
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
h{
  text-align: center;
   color: rgb(173, 173, 173);
  font-size: 32pt;
  font-weight: bold;
    position: fixed;
  transform: translate(-50%, -50%);
  text-align: center;
}
