
@keyframes fadeInAnimation {
  0% {
      opacity: 0;

  }
  80% {
      opacity: 1;
   }
  } 
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 3s linear infinite; 
  animation: spin 3s linear infinite;
      position: fixed;
  transform: translate(-50%, -50%);
  text-align: center; 
    left: 50%;
  top: 50%;
  right: 50%;
  align-items: center; 
  justify-content: center;
  bottom: 50%;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
body{
  background-color: rgb(40, 40, 40);
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
h{
  top: 5%;
  left: 70%;
   font-size: 32pt;
  text-align: center;
   color: rgb(173, 173, 173);
  font-weight: bold;
    position: fixed;
  transform: translate(-50%, -50%);
  text-align: center; 
}
#butons{
    position: absolute;
  top: 10%;
}
#HeadNav{
  width: 100%;
  top: 0px;
  position: absolute;
}

