
@keyframes fadeInAnimation {
  0% {
      opacity: 0;

  }
  50% {
      opacity: 1;
   }
  } 

body{
  background-color: rgb(40, 40, 40);
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
h{
  top: 5%;
  left: 50%;
   font-size: 42pt;
  text-align: center;
   color: rgb(173, 173, 173);
  font-weight: bold;
    position: fixed;
  transform: translate(-50%, -50%);
  text-align: center; 
}
